<!--<header></header>-->

<!--<div class="container content"> &lt;!&ndash; container centers content on large screens &ndash;&gt;-->
  <!--<div class="row">             &lt;!&ndash; responsive row has 12 columns by default &ndash;&gt;-->
    <!--<div class="col-md-2">      &lt;!&ndash; uses 6 columns on medium and larger screens... &ndash;&gt;-->
<!--hello-->
    <!--</div>-->
    <!--<div class="col-md-6">      &lt;!&ndash; uses 12 columns on smaller than medium screens &ndash;&gt;-->
    <!--beta-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">             &lt;!&ndash; responsive row has 12 columns by default &ndash;&gt;-->
    <!--<router-outlet></router-outlet>-->

  <!--</div>-->
<!--</div>-->

<!--<footer></footer>-->

<app-layout>
  <div class="jumbotron">
    <h1>Angular CLI v6 + Bootstrap & FontAwesome</h1>
    <p>
      <router-outlet></router-outlet>

      In this tutorial you learn how to use Angular CLI v6 with Bootstrap and FontAwesome!
    </p>
  </div>
</app-layout>
